@model GotFood.Models.TransportPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransportPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transport.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transport.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransportPostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
