@model IEnumerable<GotFood.Models.ProviderPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provider.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleFed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PotentialAllergens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialTransport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleFed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PotentialAllergens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialTransport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProviderPostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProviderPostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProviderPostID })
        </td>
    </tr>
}

</table>
